@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Nanum+Gothic&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(10, 22, 13);
    color: hsl(0, 0%, 100%);
    font-family: 'Inconsolata', Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.6rem;
    font-family: sans-serif;
    text-shadow: 0.1rem 0 rgba(0, 0, 0, 0.5);
  }

.card {
    position: relative;
    display: block;
}

.lucy-img {
    border-radius: 5%;
    display: block;
    width: 100%;
}

.text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    transition-duration: 2s;
    transition-delay: 0.2s;
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    
}

.text {
    bottom: 2.5rem;
    left: 0.625rem;
    margin: 1.25rem;
}

.hidden {
    opacity: 0;
    transition-duration: 2s;
    transition-delay: 0.2s;

}


.card:hover .hidden {
    opacity: 1;
    
}

.card:hover .text-box {
    background-color: rgba(0, 0, 0, 0.7);
    
}

.hidden b {
    color: rgb(64, 247, 110);
    text-shadow: 2px 0 black;
    letter-spacing: 0.063rem;
    opacity: 0;
    transition-duration: 2s;
    transition-delay: 2s;
}

.card:hover .hidden b {
    opacity: 1;
}

.card:hover h1 {
    border-bottom: 2px solid rgb(64, 247, 110);
    padding-bottom: 10px;
}

.button {
    background-color: rgb(10, 22, 13);
    color: hsl(0, 0%, 100%);
    padding: 0.5rem;
    border-radius: 0.625rem;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 500;
    text-shadow: 0.031rem 0 hsl(0, 0%, 100%);
    cursor: pointer;
}

.button:hover {
    background-color: rgb(64, 247, 110);
    color: hsl(107, 80%, 8%);
    text-shadow: 0.031rem 0 hsl(107, 80%, 8%);
}
